<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<p id = "notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <% if @user.image? %>
    <%= image_tag @user.image.url %>
  <% end %>
</p>
<ul class="user-tabs">
  <li><%= link_to("お気に入り", "/users/#{@user.id}/favorites") %></li>
</ul>
<%= link_to '新しくPictureを投稿する', new_picture_path %>
<%= link_to 'プロフィールを編集する', edit_user_path %>
